@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.main {
    @include desktop {
        display: flex;
        justify-content: space-evenly;

    }
    &__box {
       @include desktop {
        display: flex;
        flex-direction: column;
        width: 59%;
       }
    }
}