@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;


.navi {
    flex-direction: column;
    display: flex;
    @include tablet {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0 1rem;
    }
    &__logo {
        height: 4vh;
        padding-bottom: .5rem;
    }
    &__block {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        position: relative;
        @include tablet {
            flex-direction: row;
            align-items: center;
        }
    }
    &__box {
        display: flex;
        flex-direction: row;
    }
    &__icon {
        position: absolute;
        bottom: 50px;
        left: 40px;
    }
    &__form {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        align-items: center;
    }
    &__input {
        padding: 1rem;
        border:1px solid $mercury;
        border-radius: .25rem;
        background-color: $alabaster;
    }
    &__user {
        background-color: $mercury;
        height: 3rem;
        width: 3rem;
        margin: 1rem;
        border-radius: 50%;
        margin-top: 1rem;
    }
    &__button {
        background-color: $brainflix-blue;
        color: $white;
        border-style: none;
        border-radius: 0.25rem;
        padding: 1rem;
        font-size: 1rem;
        font-weight: 600;
        margin-top: 1rem;
    }

}