@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.hero {
    background-color: $brainflix-darkblack !important;
    @include tablet {
        padding-inline: 4vw;
    }        
    @include desktop {
        padding-inline: 17vw;
    }
    &__video {
        width: 100%;

}
}